:root {
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #4b5c92;
  }
  
  body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    background-color: #eff3fb;
  }
  
  .container-content {
    padding: 70px 25px 0 25px;
  }
  
  .glass-box {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: var(--color-blue);
    box-shadow: inset rgba(90, 90, 90, 0.05) 0px 6px 24px 0px,
      rgba(90, 90, 90, 0.08) 0px 0px 0px 1px;
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .glass-box {
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      background-color: rgba(255, 255, 255, 0.5);
    }
  }